/*    post head colors    */
@font-face {
  font-family: "roboto";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/roboto/roboto-bold/roboto-bold.eot");
  src: url("../fonts/roboto/roboto-bold/roboto-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-bold/roboto-bold.woff") format("woff"); }
@font-face {
  font-family: "roboto";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/roboto/roboto-medium/roboto-medium.eot");
  src: url("../fonts/roboto/roboto-medium/roboto-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-medium/roboto-medium.woff") format("woff"); }
@font-face {
  font-family: "roboto";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/roboto/roboto-regular/roboto-regular.eot");
  src: url("../fonts/roboto/roboto-regular/roboto-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-regular/roboto-regular.woff") format("woff"); }
@font-face {
  font-family: "source_sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/SourceSansPro/SourceSansPro-black/sourcesanspro-black.eot");
  src: url("../fonts/SourceSansPro/SourceSansPro-black/sourcesanspro-black.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-black/sourcesanspro-black.woff") format("woff"); }
@font-face {
  font-family: "source_sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/SourceSansPro/SourceSansPro-regular/sourcesanspro-regular.eot");
  src: url("../fonts/SourceSansPro/SourceSansPro-regular/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/SourceSansPro-regular/sourcesanspro-regular.woff") format("woff"); }
header {
  border-top: 12px solid #1f466b; }
  header .top_header, header .menu {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    header .top_header .search_panel, header .menu .search_panel {
      position: relative; }
      header .top_header .search_panel input, header .menu .search_panel input {
        border: 1px solid #b7b7b7;
        border-radius: 5px;
        width: 260px;
        padding: 10px 10px 13px 15px; }
      header .top_header .search_panel .search, header .menu .search_panel .search {
        content: '';
        position: absolute;
        right: 10px;
        top: 12px; }
    header .top_header nav a, header .menu nav a {
      position: relative; }
      header .top_header nav a:after, header .menu nav a:after {
        content: '';
        position: absolute;
        height: 13px;
        width: 1px;
        background-color: #000; }
  header .top_header {
    padding: 20px 0; }
    header .top_header nav a {
      margin-left: 45px;
      font-weight: 400;
      font-size: 13px; }
      header .top_header nav a:after {
        right: -23px;
        top: 2px; }
      header .top_header nav a:last-child:after {
        display: none; }
      header .top_header nav a:hover {
        text-decoration: underline; }
  header .menu {
    border-top: 1px solid #b7b7b7;
    border-bottom: 1px solid #b7b7b7; }
    header .menu li {
      padding: 8px 20px;
      position: relative; }
      header .menu li a {
        display: inline-block;
        padding: 10px 20px;
        font-family: roboto, sans-serif;
        font-size: 14px;
        font-weight: 500;
        transition: .2s ease-out;
        text-transform: uppercase; }
      header .menu li:after {
        content: '';
        position: absolute;
        left: -5px;
        top: 22px;
        height: 13px;
        width: 2px;
        background-color: #000; }
      header .menu li:first-child:after {
        display: none; }
      header .menu li:hover a {
        box-shadow: 0 0 0 1px #095b9d;
        transition: .2s ease-out;
        color: #095b9d;
        border-radius: 5px; }

footer {
  background-color: #1f466b;
  padding: 40px 0; }
  footer .container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between; }
    footer .container span {
      color: #fff;
      font-size: 13px; }
    footer .container a {
      color: #fff;
      position: relative;
      margin-left: 45px; }
      footer .container a:after {
        content: '';
        position: absolute;
        left: -20px;
        top: 4px;
        width: 1px;
        height: 13px;
        background-color: #fff; }
      footer .container a:hover {
        text-decoration: underline; }
      footer .container a:first-child:after {
        display: none; }

/*          NEWS TICKER SECTION STYLE               */
#news_ticker .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0; }
  #news_ticker .container .news_btn {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    font-family: source_sans, sans-serif;
    font-weight: 900;
    font-size: 24px;
    color: #fff;
    background-color: #4b91b7;
    padding: 15px 20px;
    width: 20%;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease-out;
    -khtml-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out; }
    #news_ticker .container .news_btn:hover {
      opacity: .9; }
  #news_ticker .container .tickers {
    width: 75%;
    margin-left: 15px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

/*                         AIRPORT POSTS SECTION                      */
.post_head {
  padding-top: 15px;
  margin-bottom: 50px;
  position: relative; }
  .post_head .category_name {
    font-family: roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 20px;
    position: relative; }
    .post_head .category_name:before {
      content: '[';
      position: absolute;
      top: 0;
      left: -10%;
      font-size: 14px; }
    .post_head .category_name:after {
      content: ']';
      position: absolute;
      top: 0;
      right: -10%;
      font-size: 14px; }

#main_airport_post .container {
  border-top: 1px solid #b7b7b7;
  padding-top: 25px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between; }
  #main_airport_post .container .main-post {
    width: 38%; }
  #main_airport_post .container .main_post-img {
    position: relative; }
    #main_airport_post .container .main_post-img img {
      height: 100%;
      width: 100%; }
    #main_airport_post .container .main_post-img .image_description {
      font-size: 12px;
      position: absolute;
      bottom: 0;
      width: 97%;
      left: 0;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 15px 10px; }

/*                       POST SECTION                     */
#posts .container {
  border-top: 1px solid #b7b7b7;
  border-bottom: 1px solid #b7b7b7;
  padding: 22px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  #posts .container .post_column {
    border-left: 1px solid #b7b7b7;
    padding: 0 15px;
    flex-basis: 20%;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-basis: 20%;
    -moz-flex-basis: 20%;
    -ms-flex-basis: 20%;
    flex-basis: 20%; }
    #posts .container .post_column:first-child {
      border: none; }
    #posts .container .post_column:nth-child(2) {
      -webkit-flex-grow: 2;
      -moz-flex-grow: 2;
      -ms-flex-grow: 2;
      flex-grow: 2;
      -webkit-flex-basis: 40%;
      -moz-flex-basis: 40%;
      -ms-flex-basis: 40%;
      flex-basis: 40%; }
      #posts .container .post_column:nth-child(2) .post {
        margin-bottom: 50px;
        position: relative; }
        #posts .container .post_column:nth-child(2) .post .post_img {
          width: 140px;
          height: 160px; }
        #posts .container .post_column:nth-child(2) .post .post_description {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-align-items: center;
          -moz-align-items: center;
          -ms-align-items: center;
          -ms-flex-align: center;
          align-items: center; }
          #posts .container .post_column:nth-child(2) .post .post_description .post-title_wrapper {
            margin-left: 30px; }
        #posts .container .post_column:nth-child(2) .post:after {
          content: '';
          position: absolute;
          bottom: -25px;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #b7b7b7; }
        #posts .container .post_column:nth-child(2) .post:last-child {
          margin: 0; }
          #posts .container .post_column:nth-child(2) .post:last-child:after {
            display: none; }
    #posts .container .post_column .post h2 {
      padding-top: 30px; }
    #posts .container .post_column .post i {
      display: inline-block;
      margin-bottom: 30px;
      line-height: 22px; }
    #posts .container .post_column .post .post_img .img_description {
      display: inline-block;
      font-size: 12px;
      line-height: 16px;
      padding-bottom: 25px; }
    #posts .container .post_column .post .post_head {
      margin-bottom: 25px; }

/*                  EDITOR"S PICK SECTION STYLE                   */
.editor_posts,
.lates-news-wrapper {
  padding-top: 23px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .editor_posts .post,
  .lates-news-wrapper .post {
    width: 30%; }
    .editor_posts .post .post_head,
    .lates-news-wrapper .post .post_head {
      margin-bottom: 25px; }
    .editor_posts .post .post_img,
    .lates-news-wrapper .post .post_img {
      margin-bottom: 30px; }

#editor_pick {
  padding: 15px 0 65px 0; }
  #editor_pick .container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between; }
    #editor_pick .container .editor_pick-wrapper {
      width: 65%; }
      #editor_pick .container .editor_pick-wrapper h4 {
        color: #fff;
        background-color: #2d89c6; }
    #editor_pick .container .news_column {
      width: 33%; }
      #editor_pick .container .news_column h4 {
        color: #fff;
        background-color: #b7b7b7; }

.news_posts .ticker {
  max-width: 100%;
  margin-top: 23px; }

/*                       AIRPORTS SECTION STYLE                           */
#airports {
  overflow: hidden;
  padding-bottom: 100px; }
  #airports h4 {
    color: #000;
    background-color: #b18850; }
  #airports .airport_main_wrapper {
    padding-top: 23px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    #airports .airport_main_wrapper .post_column {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      width: 50%;
      border-right: 1px solid #b7b7b7; }
      #airports .airport_main_wrapper .post_column:last-child {
        border: none; }
    #airports .airport_main_wrapper .post-title_wrapper {
      margin-left: 25px; }
    #airports .airport_main_wrapper .right {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      #airports .airport_main_wrapper .right .post {
        padding: 0 0 50px 15px;
        position: relative; }
        #airports .airport_main_wrapper .right .post:after {
          content: '';
          position: absolute;
          bottom: 30px;
          left: 15px;
          width: 100%;
          height: 1px;
          background-color: #b7b7b7; }
        #airports .airport_main_wrapper .right .post:last-child:after {
          display: none; }
        #airports .airport_main_wrapper .right .post .post_head {
          margin-bottom: 25px; }
        #airports .airport_main_wrapper .right .post .post_description {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex; }
        #airports .airport_main_wrapper .right .post:last-child {
          padding-bottom: 0; }

/*                       NEWS SECTION STYLE                         */
#news {
  padding-bottom: 15px; }
  #news .container {
    padding-bottom: 65px;
    border-bottom: 1px solid #b7b7b7;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between; }
    #news .container .left_side {
      width: 65%; }
      #news .container .left_side h4 {
        color: #000;
        background-color: #b8c3d7; }
      #news .container .left_side .video_wrapper {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-pack: space-between;
        padding-top: 20px; }
        #news .container .left_side .video_wrapper .video {
          width: 49%;
          text-align: center;
          margin-bottom: 30px; }
          #news .container .left_side .video_wrapper .video .video_play {
            width: 100%; }
          #news .container .left_side .video_wrapper .video .video_description {
            font-size: 12px;
            font-family: source_sans, sans-serif;
            font-weight: 400;
            color: #000; }
    #news .container .right_side {
      width: 33%; }
      #news .container .right_side h4 {
        color: #fff;
        background-color: #b7b7b7; }
      #news .container .right_side .trip_post {
        padding: 20px 0 36px 0;
        border-bottom: 1px solid #b7b7b7; }
        #news .container .right_side .trip_post .post_img {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-wrap: wrap;
          -moz-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-justify-content: center;
          -moz-justify-content: center;
          -ms-justify-content: center;
          justify-content: center;
          -ms-flex-pack: center; }
          #news .container .right_side .trip_post .post_img span {
            font-size: 12px;
            text-align: center;
            margin: 15px 0 30px 0; }
        #news .container .right_side .trip_post .post-title_wrapper {
          margin-left: 15px; }
      #news .container .right_side .news_posts {
        margin-bottom: 45px; }
      #news .container .right_side .twitter_feed h4 {
        color: #fff;
        background-color: #03a9f4; }
      #news .container .right_side .twitter_feed .tweet {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        max-width: 98%;
        padding-top: 25px; }
        #news .container .right_side .twitter_feed .tweet .tweet_wrapper {
          margin: 5px 0 0 20px; }
          #news .container .right_side .twitter_feed .tweet .tweet_wrapper a {
            color: #03a9f4; }
            #news .container .right_side .twitter_feed .tweet .tweet_wrapper a:hover {
              text-decoration: underline; }
          #news .container .right_side .twitter_feed .tweet .tweet_wrapper .tweet_info {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-between;
            -moz-justify-content: space-between;
            -ms-justify-content: space-between;
            justify-content: space-between;
            -ms-flex-pack: space-between; }
            #news .container .right_side .twitter_feed .tweet .tweet_wrapper .tweet_info .post_date {
              padding-bottom: 0; }
              #news .container .right_side .twitter_feed .tweet .tweet_wrapper .tweet_info .post_date:before {
                content: '[';
                position: absolute;
                top: 0;
                left: -10%;
                font-size: 13px;
                color: #000; }
              #news .container .right_side .twitter_feed .tweet .tweet_wrapper .tweet_info .post_date:after {
                content: ']';
                position: absolute;
                top: 0;
                right: -10%;
                font-size: 13px;
                color: #000; }

@media (max-width: 1300px) {
  header .container .top_header nav {
    margin: 0 auto; }
  header .container .menu li {
    padding: 8px 10px;
    font-size: 12px; }

  #news_ticker .container a.news_btn {
    width: 20%;
    font-size: 18px;
    padding: 15px; } }
@media (max-width: 992px) {
  header .container .menu li a {
    padding: 10px;
    font-size: 12px; }

  #news_ticker .container {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #news_ticker .container a.news_btn {
      width: 35%;
      margin-bottom: 15px; }
    #news_ticker .container div.tickers {
      width: 100%; }

  #main_airport_post .container {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #main_airport_post .container div.main-post, #main_airport_post .container .main_post-img {
      width: 100%; }
    #main_airport_post .container .main-post .post_title, #main_airport_post .container .main-post .post_description {
      text-align: center; }

  .post .post_head .category {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  #airports .container .airport_main_wrapper {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #airports .container .airport_main_wrapper .post_column {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid #b7b7b7;
      margin-bottom: 15px; }

  footer .container {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; } }
@media (max-width: 768px) {
  header {
    position: relative; }
    header .container .top_header {
      padding: 30px 0;
      border-bottom: 1px solid #b7b7b7; }
    header .container .menu {
      position: absolute;
      flex-direction: column;
      left: 0;
      background-color: #fff;
      width: 100%;
      z-index: 5;
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: all 0.4s ease-out;
      -khtml-transition: all 0.4s ease-out;
      -moz-transition: all 0.4s ease-out;
      -ms-transition: all 0.4s ease-out;
      -o-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out; }
      header .container .menu li:after {
        display: none; }
    header .container .burger {
      display: block;
      width: 25px;
      height: 25px;
      position: absolute;
      bottom: 5px;
      right: 30px;
      cursor: pointer;
      outline: none;
      z-index: 3; }
      header .container .burger span {
        background-color: #000;
        width: 100%;
        height: 2px;
        display: block;
        left: 0;
        bottom: 5px;
        transform-origin: right;
        top: 12px;
        position: absolute;
        -webkit-transform: translateY(5px);
        -moz-transform: translateY(5px);
        -ms-transform: translateY(5px);
        transform: translateY(5px); }
        header .container .burger span:after, header .container .burger span:before {
          content: '';
          display: block;
          background-color: #000;
          width: 100%;
          height: 2px;
          position: absolute; }
        header .container .burger span:after {
          top: -5px;
          transform-origin: right; }
        header .container .burger span:before {
          bottom: -5px; }
    header .container .menu_active {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
      -webkit-transition: all 0.4s ease-out;
      -khtml-transition: all 0.4s ease-out;
      -moz-transition: all 0.4s ease-out;
      -ms-transition: all 0.4s ease-out;
      -o-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out; }
    header .container .burger_active {
      bottom: -30px;
      z-index: 6; }
      header .container .burger_active span {
        -webkit-transform: translateY(5px) rotate(45deg);
        -moz-transform: translateY(5px) rotate(45deg);
        -ms-transform: translateY(5px) rotate(45deg);
        transform: translateY(5px) rotate(45deg); }
        header .container .burger_active span:before {
          -webkit-transform: rotate(90deg) translate(-5px, 0px);
          -moz-transform: rotate(90deg) translate(-5px, 0px);
          -ms-transform: rotate(90deg) translate(-5px, 0px);
          transform: rotate(90deg) translate(-5px, 0px); }
        header .container .burger_active span:after {
          opacity: 0; }

  #posts .container div.post_column .post_description {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }

  #editor_pick .container, #news .container {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #editor_pick .container div.left_side,
    #editor_pick .container div.right_side,
    #editor_pick .container div.editor_pick-wrapper,
    #editor_pick .container div.news_column, #news .container div.left_side,
    #news .container div.right_side,
    #news .container div.editor_pick-wrapper,
    #news .container div.news_column {
      width: 100%; } }
@media (max-width: 668px) {
  header .container .top_header {
    flex-direction: column; }
    header .container .top_header nav {
      display: none; }

  .container .editor_posts .post,
  .container .lates-news-wrapper .post {
    width: 45%; }

  #news_ticker .container a.news_btn {
    width: 85%; }
  #news_ticker .container .tickers .ticker {
    max-width: 100%;
    margin-top: 15px; }
    #news_ticker .container .tickers .ticker .ticker_description {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      #news_ticker .container .tickers .ticker .ticker_description .post_date {
        width: 20%; }

  footer .container nav {
    margin-top: 20px; }
    footer .container nav a {
      margin-left: 30px;
      font-size: 12px; } }
@media (max-width: 490px) {
  #airports .container .airport_main_wrapper .left {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }

  .container .editor_posts .post,
  .container .lates-news-wrapper .post {
    width: 100%; }

  .post_img img {
    width: 100%; }

  .airport_main_wrapper .post_column .post .post_description {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

  #posts div.container div.post_column {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%; }

  #news .container .left_side .videos .video_wrapper .video {
    width: 100%; }

  footer .container nav a {
    margin-left: 5px; }
    footer .container nav a:after {
      display: none; } }
* {
  margin: 0;
  padding: 0;
  outline: none; }

body {
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: source_sans, sans-serif;
  color: #000;
  font-size: 15px; }

p {
  line-height: 22px; }

a {
  color: #000;
  text-decoration: none; }

li {
  list-style: none; }

h2 {
  font-size: 34px;
  font-family: roboto, sans-serif;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 38px; }

h3 {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: #000;
  line-height: 24px;
  margin-bottom: 23px; }

h4 {
  border-top: 1px solid #000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  padding: 20px 17px;
  letter-spacing: 6px; }

.container {
  margin: 0 auto;
  max-width: 96%;
  width: 1300px; }

.post_date {
  font-size: 13px;
  color: #858585;
  position: relative;
  margin-left: 5px;
  padding-bottom: 5px; }

.editor_posts .post_img img, .latest_news .post_img img, .trip_post .post_img img {
  width: 100%;
  height: 100%; }

/*                    NEWS TICKERS STYLE                  */
.ticker {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 32%; }
  .ticker .ticker_description {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px; }
    .ticker .ticker_description .post_date:after {
      content: ']';
      position: absolute;
      top: 0;
      right: -10%;
      font-size: 13px;
      color: #000; }
    .ticker .ticker_description .post_date:before {
      content: '[';
      position: absolute;
      top: 0;
      left: -10%;
      font-size: 13px;
      color: #000; }
    .ticker .ticker_description .news_ticker-title {
      font-size: 15px;
      color: #000; }
  .ticker:hover .news_ticker-title {
    text-decoration: underline; }

.author_post {
  font-size: 12px;
  font-family: source_sans, sans-serif;
  color: #000;
  text-transform: uppercase;
  position: relative;
  margin-left: 15px; }
  .author_post:after {
    content: 'by';
    position: absolute;
    top: 0;
    left: -15px;
    font-size: 12px; }

/*                          COlORS FOR POSTS HEAD                   */
.post_head:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 44px;
  height: 4px; }

.top_stories:before {
  background-color: #39bebe; }
.top_stories .category_name {
  color: #39bebe; }
  .top_stories .category_name:after, .top_stories .category_name:before {
    color: #39bebe; }

.exclusive:before {
  background-color: #39bebe; }
.exclusive .category_name {
  color: #39bebe; }
  .exclusive .category_name:after, .exclusive .category_name:before {
    color: #39bebe; }

.opinions:before {
  background-color: #0d5e9c; }
.opinions .category_name {
  color: #0d5e9c; }
  .opinions .category_name:after, .opinions .category_name:before {
    color: #0d5e9c; }

.airport:before {
  background-color: #b18850; }
.airport .category_name {
  color: #b18850; }
  .airport .category_name:after, .airport .category_name:before {
    color: #b18850; }

.editor_pick:before {
  background-color: #2d89c6; }
.editor_pick .category_name {
  color: #2d89c6; }
  .editor_pick .category_name:after, .editor_pick .category_name:before {
    color: #2d89c6; }

.latest_news:before {
  background-color: #1f466b; }
.latest_news .category_name {
  color: #1f466b; }
  .latest_news .category_name:after, .latest_news .category_name:before {
    color: #1f466b; }

/* ----------------------------------------------------------------------------------------*/

/*# sourceMappingURL=style.css.map */
