@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto/roboto-bold/roboto-bold.woff2') format('woff2'),
  url('../fonts/roboto/roboto-bold/roboto-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto/roboto-medium/roboto-medium.woff2') format('woff2'),
  url('../fonts/roboto/roboto-medium/roboto-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto/roboto-regular/roboto-regular.woff2') format('woff2'),
  url('../fonts/roboto/roboto-regular/roboto-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans';
  src: url('../fonts/SourceSansPro/SourceSansPro-black/sourcesanspro-black.woff2') format('woff2'),
  url('../fonts/SourceSansPro/SourceSansPro-black/sourcesanspro-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;

}

@font-face {
  font-family: 'source_sans';
  src: url('../fonts/SourceSansPro/SourceSansPro-regular/sourcesanspro-regular.woff2') format('woff2'),
  url('../fonts/SourceSansPro/SourceSansPro-regular/sourcesanspro-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}