@import "mixins", "vars";
@import "fonts";
@import "header";
@import "footer";
@import "styles";
@import "rwd";

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @include box-sizing(border-box);
  font-family: source_sans, sans-serif;
  color: #000;
  font-size: 15px;
}

p {
  line-height: 22px;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  font-size: 34px;
  font-family: roboto, sans-serif;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 38px;
}
h3 {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: #000;
  line-height: 24px;
  margin-bottom: 23px;
}
h4 {
  border-top: 1px solid #000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  padding: 20px 17px;
  letter-spacing: 6px;
}

.container {
  margin: 0 auto;
  max-width: 96%;
  width: 1300px;
}
.post_date {
  font-size: 13px;
  color: #858585;
  position: relative;
  margin-left: 5px;
  padding-bottom: 10px;
}

.editor_posts, .latest_news, .trip_post {
  .post_img {
    img {
      width: 100%;
      height: 100%;
    }
  }
}

/*                    NEWS TICKERS STYLE                  */
.ticker {
  @include flex-box;
  @include align-items(center);
  max-width: 32%;
  .ticker_description {
    @include flex-box;
    flex-wrap: wrap;
    margin-left: 15px;
    .post_date {
      &:after {
        content: ']';
        position: absolute;
        top: 0;
        right: -10%;
        font-size: 13px;
        color: #000;
      }
      &:before {
        content: '[';
        position: absolute;
        top: 0;
        left: -10%;
        font-size: 13px;
        color: #000;
      }
    }
    .news_ticker-title {
      font-size: 15px;
      color: #000;
    }
  }
  &:hover {
    .news_ticker-title {
      text-decoration: underline;
    }
  }
}
.author_post {
  font-size: 12px;
  font-family: source_sans, sans-serif;
  color: #000;
  text-transform: uppercase;
  position: relative;
  margin-left: 15px;
  &:after {
    content: 'by';
    position: absolute;
    top: 0;
    left: -15px;
    font-size: 12px;
  }
}


/*                          COlORS FOR POSTS HEAD                   */

.post_head {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 4px;
  }
}

.top_stories {
  &:before {
    background-color: $top_stories_col;
  }
  .category_name {
    color: $top_stories_col;
    &:after,
    &:before {
      color: $top_stories_col;
    }
  }
}
.exclusive {
  &:before {
    background-color: $exclusive_col;
  }
  .category_name {
    color: $exclusive_col;
    &:after,
    &:before {
      color: $exclusive_col;
    }
  }
}
.opinions {
  &:before {
    background-color: $opinion_col;
  }
  .category_name {
    color: $opinion_col;
    &:after,
    &:before {
      color: $opinion_col;
    }
  }
}
.airport {
  &:before {
    background-color: $airports_col;
  }
  .category_name {
    color: $airports_col;
    &:after,
    &:before {
      color: $airports_col;
    }
  }
}
.editor_pick {
  &:before {
    background-color: $editor_pick_col;
  }
  .category_name {
    color: $editor_pick_col;
    &:after,
    &:before {
      color: $editor_pick_col;
    }
  }
}
.latest_news {
  &:before {
    background-color: $latest_news_col;
  }
  .category_name {
    color: $latest_news_col;
    &:after,
    &:before {
      color: $latest_news_col;
    }
  }
}
/* ----------------------------------------------------------------------------------------  */


