.news_ticker {
  display: flex;
  .news_btn {
    font-family: source_sans, sans-serif;
    font-weight: 900;
    font-size: 24px;
    color: #fff;
    background-color: #4b91b7;
    padding: 25px 40px;
    width: 350px;
  }
  .tickers {
    margin-left: 10px;
    display: flex;
  }
}